create a template for each pinescript strategy version
ability to add symbols in the dashboard and have backtesting, paper and live trading
    configured automatically via Github Actions and Workflows
ability to add values to parameters via the dashboard for items such as Win Rate, Net Return, Max Drawdown
